<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>


    <form class="form-signin" method="post" action="add_details_form/" >
         {{ form.as_p}}
        {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Please enter your details</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" name="name" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
      <label for="inputMobileno" class="sr-only">Mobile no</label>
      <input type="number" name="mobilenumber" id="inputMobileno" class="form-control" placeholder="Mobile no" required>
       <label for="inputAddress" class="sr-only">Address</label>
      <input type="text" name="address" id="inputAddress" class="form-control" placeholder="Address" required>

      <button type="submit">Submit</button>


    </form>


</body>
</html>